<!DOCTYPE html>
<!-- 타임리프를 쓰겠다는 선언 ! 굳이 쓰지 않아도 되기는 하지만 명시적으로 표기해주자 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
    <style>
        table, tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성시간</th>
            <th>조회수</th>
        </tr>
        <!-- 타임리프 기능 등장 ! -->
        <tr th:each="board: ${boardList}">
            <td th:text="${board.id}"></td>
            <td>
                <a th:text="${board.boardTitle}" th:href="@{|/${board.id}|}"></a>
            </td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="${board.createdAt}"></td>
            <td th:text="${board.boardHits}"></td>
        </tr>
    </table>
</body>
</html>